# for running
cdsapi
matplotlib
numpy
pygrib
scipy
urllib3
xarray # for the HRES netcdf model level to pressure level conversion
#netcdf4  #for MERRA, which is currently not supported
#pyhdf    #for MERRA, which is currently not supported
# for packaging and installation
pip
setuptools
setuptools_scm
wheel